# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/packages/*/node_modules

# production
/dist
/docs
/packages/*/docs

# misc
.DS_Store

# environment settings
/.vscode
/packages/*/.vscode

# playground
/packages/playground/public/bundle.*